* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito, Roboto, system-ui, Tahoma, sans-serif;
}

body {
  background-color: #c4e4f8;
}

.main-wrapper {
  background: #ffffff;
  height: 95vh;
  max-width: 1400px;
  width: calc(100vw - 100px);
  margin-inline: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 20px;
}
